PORT=8080
BOT_TOKEN=8457656079:AAErnQ-ofI1wiFSoteVqdKvV8_cMwcTxeDc
BOT_CHAT_ID=your_telegram_chat_id_here
MONGO_URI=your_mongodb_connection_string_here

# Optional: add this when we build ATS scoring with AI
# OPENAI_API_KEY=your_openai_api_key_here
